div {

}

body{
	background-color: #FFFFFF;
}

#TitleBar{
	height: 100px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	margin:0;
	padding:0;
	overflow:hidden;
	/*border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	margin-top: -10px;
	text-align: center;
}


#TitleBar li{
	padding: 0;
	list-style-type: none;
	height: 100%;
}

#TitleBar img{
	max-width: 100%;
	max-height:100%;
	margin-top: -10px;
	padding: 0 0 0 0;
}

#SiteTitle{
	width: 60%;
	border-right: solid;
	border-left: solid;
	display: inline-block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}




#MenuBar{
	height:40px;
	width: 100%;;
    background-color:#830D24;
    border-color: #FFFFFF;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    vertical-align: middle;
    padding-top: 0px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#MenuBar li{
	margin-right: 20px;
	float: right;
}

#MenuBar li:hover
{
background-color:#FFFFFF;
color: #830D24;
border-radius: 5px;
}

ul {
	list-style-type: none;
}

#space{
	height: 30px;
	clear:both ;
}

#PhotoSpace{
	position: relative;
	padding-top: 0px;
	margin: 0px auto;
	padding: 0px 10% 0px 10%;
	float: left;
	text-align: center;
}

#LeftPhoto{
	border-style: solid;
	height: 400px;
	width: 300px;
	float: left;
	margin-right: -50px;
	position: relative;
}

#vsHolder{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	float: inherit;
	background-color: #FFFFFF;
	margin: 10px;
	margin-top: 70px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	z-index: 1000;

}

#RightPhoto{
	border-style: solid;
	height: 400px;
	width: 300px;
	float: right;
	margin-left: -50px;
}

div.photo:hover{
	border-color: #70EC23;
	border-width: 5px;
	margin: 1px;
} 

div.photo{
	margin: 5px;
}
